<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>快点电器服务后台管理系统</title>

    <!-- Bootstrap core CSS -->
    <link href="__ASSETS__/css/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    <link href="__ASSETS__/font-awesome/css/font-awesome.css" rel="stylesheet" />  
    
    <!-- Custom styles for this template -->
    <link href="__ASSETS__/css/style.css" rel="stylesheet">
    <link href="__ASSETS__/css/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="__ASSETS__/css/style-responsive.css" rel="stylesheet">
    <link href="__ASSETS__/js/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <link href="__ASSETS__/js/datetimepicker/bootstrap-datetimepicker.css" rel="stylesheet">

    <!-- <script src="__ASSETS__/js/chart-master/Chart.js"></script> -->
    <script src="__ASSETS__/js/jquery-1.8.3.min.js"></script>
    <script src="__ASSETS__/js/jquery-3.0.0.min.js"></script>
    <script src="__ASSETS__/js/bootstrap.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <include file="head" />
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->

      <include file="left-aside" />
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <div id="main-content">
         <div id="wrapper" class="wrapper site-min-height">
         </div>  
      </div>

      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="centered">
            <p class="centered">
            2016 - Ikuaidian.com      <strong>浙ICP备14033859号-1</strong></p>
              <a href="#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script class="include" type="text/javascript" src="__ASSETS__/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="__ASSETS__/js/jquery.scrollTo.min.js"></script>
    <script src="__ASSETS__/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="__ASSETS__/js/jquery.sparkline.js"></script>
    <script src="__ASSETS__/js/admin/fileinput.js"></script>
    <script src="__ASSETS__/js/jquery.form.min.js"></script>
    <script src="__JS__/jquery.tips.js"></script>
    <script src="__ASSETS__/js/jquery-ui/jquery-ui.min.js"></script>
    <script src="__ASSETS__/js/cityselect/jquery.cityselect.js"></script>
    <script src="__ASSETS__/js/datetimepicker/bootstrap-datetimepicker.min.js"></script>


    <!--common script for all pages-->
    <script src="__ASSETS__/js/common-scripts.js"></script>


    <!--script for this page--> 
    <script type="text/javascript"> 
      $(document).ready(function() { 
        $(".left_child_menu").click(function() { 
            var link=$(this).attr("value");
            //console.log(link);
            $("#wrapper").load("__MODULE__/"+link);
            //window.open("__MODULE__/"+link,'testLoad','');
         });             

        //检查菜单是否有子菜单，若没有则获取页面
        $(".left_parent_menu").click(function() { 
            if(!$(this).closest('.sub-menu').children('ul').children('li').length) {
                var link=$(this).attr("value");
                //console.log(link);
                $("#wrapper").load("__MODULE__/"+link);
              }
            });
        }); 

      $("#loginout").click(function(){
        if (!confirm("确认要登出吗？")) {
            window.event.returnValue = false;
        }else{
          $.post(
                "__MODULE__/Login/loginout",
                function(data){
                      alert(data['message']);
                      window.location.href=data['jumpUrl'];
                });
            }
      });

	</script>
  </body>
</html>
