<link href="__ASSETS__/css/fileinput.css" rel="stylesheet">
<script src="__ASSETS__/js/admin/fileinput.js"></script>
	<h3><i class="fa fa-angle-right"></i> 编辑电器品类</h3>
          	<div class="row mt">
          		<div class="col-lg-12">
          		   <div class="form-panel">
					 <form class="form-horizontal style-form" id="myForm" action="__MODULE__/Appliance/edit" method="post">
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">品类名称 <span class="text-red">*</span></label>
                              <div class="col-sm-10">
                                  <input type="text" AUTOCOMPLETE="off" name="applianceName" id="applianceName" class="form-control round-form" value="{$appliance.applianceName}">
                              </div>
                          </div>
                 		  <div class="form-group">
                 		  	<label class="col-sm-2 col-sm-2 control-label">所属大类</label>
                 		  	<div class="col-sm-10">
								<select class="form-control" name="appliance-father" id="appliance-father">
									<option selected="selected" value='{$appliance.father_id}' class="display-none">默认选项为添加大类</option>
                					<volist name='father_list'  id='ApplianceFather' key='kc' >
                  					<option value='{$ApplianceFather.appliance_id}'>{$ApplianceFather.name}</option>
                					</volist>
								</select>
							</div>
						  </div>
						  <div class="form-group">
								<label class="col-sm-2 col-sm-2 control-label" for="photo">商户端大图标</label>
								<div class="col-sm-10">
                   					 <input  name="shd-photo" id="shd-photo" class="form-control file file-0" type="file">
                   			    </div>
						  </div>
						  <div class="form-group">
								<label class="col-sm-2 col-sm-2 control-label" for="photo">商户端小图标</label>
								<div class="col-sm-10">
                   					 <input  name="shd-photo-little" id="shd-photo-little" class="form-control file file-0" type="file">
                   			    </div>
						  </div>
						  <div class="form-group">
								<label class="col-sm-2 col-sm-2 control-label" for="photo">用户端图标</label>
								<div class="col-sm-10">
                   					 <input name="yhd-photo" id="yhd-photo" class="form-control file file-0" type="file">
                   			    </div>
						  </div>
							<div class="form-actions">
								<input type="button"  id="button-submit"
									class="btn btn-success btn-large" value="保存" /> <a class="btn"
									href="#" onclick="cancel()">取消</a>
							</div>
					</form>
				 </div>
				</div>
			</div>
<script src="__ASSETS__/js/sweetalert/js/sweet-alert.min.js"></script>
<script type="text/javascript" language="javascript">	
    var lock = false; 

    $("#file-0").fileinput({
        'allowedFileExtensions' : ['jpg', 'png','gif'],
        'showUpload': true,
    });
        $("#file-0").on('fileselectnone', function() {
            alert("HUH! No Files");
     });


    function cancel(){
			$("#wrapper").load("__MODULE__/Appliance");
	     }


	var options = {  
   		//target: 'data',          //把服务器返回的内容放入id为output的元素中      
   		beforeSubmit: validate,  //提交前的回调函数
   		//success: showResponse,
   		/*************/  
   		success: function(data){
        		if(data['status'] != 200){
          		sweetAlert("添加失败", data['message'], "error");
              lock =false;
              $("#button-submit").attr("disabled",false); 
        		}else if(data['status'] == 200){
          		sweetAlert("Good job!", data['message'], "success");
              lock =false;
              $("#button-submit").attr("disabled",false);  
          		$("#wrapper").load("__MODULE__/Appliance");
        	   }
			},      //提交后的回调函数  
		/*****************/
   		url: '__MODULE__/Appliance/addpar',                 //默认是form的action， 如果申明，则会覆盖  
   		type: 'post',               //默认是form的method（get or post），如果申明，则会覆盖  
   		dataType: 'json',           //html(默认), xml, script, json...接受服务端返回的类型  
   		//clearForm: true,          //成功提交后，清除所有表单元素的值  
   		//resetForm: true,          //成功提交后，重置所有表单元素的值  
   		timeout: 3000               //限制请求的时间，当请求大于3秒后，跳出请求  
	}

/************
	$(document).ready(function(){
 		$('#myForm').ajaxForm();
	});

	$("#myForm").submit(function(){
   		$(this).ajaxSubmit(options);  
   		return false;   //阻止表单默认提交  
	});
***********/

	$(document).ready(function(){
    	$('#button-submit').click(function(){
            $('#myForm').ajaxSubmit(options);
            return false;
		});
     }); 

	function validate() { //
		var applianceName = $("#applianceName").val();
     	var shdImg = $("#shd-photo").val();
     	var shdImgLittle = $("#shd-photo-little").val();
     	var yhdImg = $("#yhd-photo").val();
     	if(applianceName == ""){
     			$("#applianceName").tips({
					side : 2,
					msg : '品类名称不得为空',
					bg : '#AE81FF',
					time : 3
				});
				return false;
     	}else if(shdImg =="" &&  shdImgLittle=="" && yhdImg==""){
     			$("#shd-photo").tips({
					side : 2,
					msg : '至少添加一个图标',
					bg : '#AE81FF',
					time : 3
				});
				return false;
     	}
      lock = true;
      $("#button-submit").attr("disabled",true); 
    }     
  
	function showRequest(formData, jqForm, options){  
   		//formData: 数组对象，提交表单时，Form插件会以Ajax方式自动提交这些数据，格式如：[{name:user,value:val },{name:pwd,value:pwd}]  
   		//jqForm:   jQuery对象，封装了表单的元素     
   		//options:  options对象  
   		var queryString = $.param(formData);   //name=1&address=2  
   		var formElement = jqForm[0];              //将jqForm转换为DOM对象  
   		//var address = formElement.address.value;  //访问jqForm的DOM元素  
   		console.log(formData);
   		return true;  //只要不返回false，表单都会提交,在这里可以对表单元素进行验证  
		};  
  
	function showResponse(responseText, statusText){  
   		//dataType=xml  
   		var name = $('name', responseXML).text();  
   		var address = $('address', responseXML).text();
   		console.log(responseText); 
   		$("#xmlout").html(name + "  " + address);  
   		//dataType=json  
   		$("#jsonout").html(data.name + "  " + data.address);  
	};  
    
</script>