<div class="span9">
    <div class="row-fluid">
        <div class="page-header">
              <h3>
                电器管理 <small>品类列表</small>
              </h3>
              <a href="#" id="add-appliance-father" class="btn btn-success">添加电器品类</a>
        </div>
        <div class="inner-showback">
            <!-- Split button -->
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                查看品类 <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" >
                <volist name='father_list'  id='ApplianceFather' key='kc' >
                  <li><a href="#" value='{$ApplianceFather.appliance_id}'>{$ApplianceFather.name}</a></li>
                </volist>
              </ul>
            </div>               
        </div><!-- /showback -->
          <table id="Table-Result" class="table table-strtable table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th>序号</th>
                <th>品类名称</th>
                <th>商户端图标</th>
                <th>商户端小图标</th>
                <th>用户端图标</th>
                <th>大类小类</th>
                <th>所属大类</th>
                <th><i class=" fa fa-edit"></i>操作</th>
              </tr>
            </thead>
            <tbody>
                <volist name='appliance_list' id='al' key='kc' >
                  <tr class="list-users">
                    <td>{$kc}</td>
                    <td>{$al.name}</td>
                    <td>
                        <a class="preview" href="{$al.mclient_logo}"  title="IMG Reference"><img class="fancyzoom" src="{$al.mclient_logo}" width="30" hight="30" /></a>
                    </td>
                    <td>
                        <a class="preview" href="{$al.mclient_small_logo}"  title="IMG Reference"><img class="fancyzoom" src="{$al.mclient_small_logo}" width="30" hight="30" /></a>
                    </td>
                    <td>
                        <a class="preview" href="{$al.uclient_logo}"  title="IMG Reference"><img class="fancyzoom" src="{$al.uclient_logo}" width="30" hight="30" /></a>
                    </td>                    
                    <if condition="($al.is_father eq 1)">
                      <td><span class="label label-success label-mini">大类</span></td>
                    <elseif condition="($al.is_father eq 0)"/>
                      <td><span class="label label-warning label-mini">小类</span></td>
                    </if>
                    <td>{$al.fathername}</td>
                    <td>
                      <button class="btn btn-warning btn-xs" onclick="delAppliance({$al.appliance_id}); return false"><i class="fa fa-trash"></i>删除</button>
                    </td>
                  </tr>
                </volist>
              </tbody>
            </table>
            <div id="Pagination" class="right flickr"></div> 
            <div class="pagination">
                <li><a href="#">上一页</a></li>
                <for start="1" end="$pages+1" step="1" name="i" >
                  <li ><a href="#">{$i}</a></li>
                </for>                
                <li><a href="#">下一页</a></li>
            </div>
          </div>
        </div>
    </div>
<script src="__ASSETS__/js/jquery.imagePreview.js"></script>
<script type="text/javascript">
   $("a.preview").mouseover(function(){
      $(this).preview();
    });

    $("#add-appliance-father").click(function(){
      $("#wrapper").load("__MODULE__/Appliance/addpar");
    });


    function delAppliance(appliance_id){
        if (!confirm("确认要删除？")) {
            window.event.returnValue = false;
        }else{
          $.post(
            '__MODULE__/Appliance/del',
          {
            "appliance_id":appliance_id,
          },
          function(data){
            alert(data['message']);
             $("#wrapper").load("__MODULE__/Appliance");
          });
        }
    }
</script>
