<link rel="stylesheet" href="__ASSETS__/css/tcdPageCode.css"/>
<div class="span9">
    <div class="row-fluid">
        <div class="page-header">
              <h3>
                电器管理 <small>故障列表</small>
              </h3>
              <a href="#" id="add-appliance-trouble" class="btn btn-success">添加电器故障</a>
        </div>
        <div class="inner-showback">
            <!-- Split button -->             
        </div><!-- /showback -->
          <table id="Table-Result" class="table table-strtable table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th>序号</th>
                <th>故障名称</th>
                <th>电器大类</th>
                <th>电器小类</th>
                <th><i class=" fa fa-edit"></i>操作</th>
              </tr>
            </thead>
            <tbody>
                <volist name='trouble_list' id='al' key='kc' >
                  <tr class="list-users">
                    <td>{$kc}</td>
                    <td>{$al.break_name}</td>
                    <td>{$al.f_name}</td>
                    <td>{$al.s_name}</td>
                    <td>
                      <div class="btn-group">
                        <a class="btn btn-mini dropdown-toggle"
                          data-toggle="dropdown" href="#">Actions <span
                          class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href=""
                            onclick="editTrouble({$al.break_id});return false"><i
                              class="fa fa-pencil"></i> 编辑</a></li>
                          <li><a href="" onclick="delTrouble({$al.break_id});return false"><i class="fa fa-trash-o"></i> 删除</a></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                </volist>
              </tbody>
            </table>
            <div id="Pagination" class="tcdPageCode">
                            
            </div> 
          </div>
        </div>
    </div>
<script src="__ASSETS__/js/jquery.page.js"></script>
<script src="__ASSETS__/js/jquery.fancybox.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("a.preview").fancybox();
     });

    $("#add-appliance-trouble").click(function(){
      $("#wrapper").load("__MODULE__/ApplianceTrouble/addView");
    });


    function delTrouble(break_id){
        if (!confirm("确认要删除？")) {
            window.event.returnValue = false;
        }else{
          $.post(
            '__MODULE__/ApplianceTrouble/del',
          {
            "break_id":break_id,
          },
          function(data){
            alert(data['message']);
             $("#wrapper").load("__MODULE__/ApplianceTrouble");
          });
        }
    }

      $(function(){
    //这是一个非常简单的demo实例，让列表元素分页显示
    //回调函数的作用是显示对应分页的列表项内容
    //回调函数在用户每次点击分页链接的时候执行
    //参数page_index{int整型}表示当前的索引页
        var totalpage = {$pages};
        var current ={$current};
        $(".tcdPageCode").createPage({
            pageCount:totalpage,
            current: current,
            backFn:function(p){
                //console.log(p);
                loadpage(p);
            }
        });

    });

  function loadpage(p){
    $("#wrapper").load("__MODULE__/ApplianceTrouble/index", {page:p});
  }
</script>
