<h4><i class="fa fa-angle-right"></i> 品牌申请详情</h4>
<h4>商户名称：{$applyDetail.mer_name}</h4></br>
<h4>负责人电话：{$applyDetail.header_phone}</h4></br>
<h4>申请时间：{$applyDetail.created_at}</h4></br>
<h4>申请品牌：{$applyDetail.brand_name}</h4></br>
<h4>申请理由：{$applyDetail.reason}</h4></br>
<h4>处理结果：
  <if condition="($applyDetail.is_handle eq 0)">
      <span  class="label label-success"> 申请中 </span>
  <elseif condition="($applyDetail.is_handle eq 1)"/>
      <span  class="label label-warning">同意 </span>
  <else />
      <span  class="label label-danger">拒绝</span>
  </if>
</h4>
</br>
<h4>证书图片:</h4></br>
<div class="centered" id="apply-photo">
    <volist name='apply_pic_list' id='applyList' >
      <h4>
        <a class='preview' href='{$applyList|trim}'  title='IMG Reference'>
          <img class='fancyzoom' src='{$applyList|trim}' width='350' />
        </a>
      </h4>
    </volist>
</div>
      <div class="theme-popover centered" style="display: none;">
          <div class="theme-poptit">
              <a href="javascript:;" title="关闭" class="close">×</a>
                <h3>拒绝品牌授权</h3>
          </div>
          <div class="form-panel">
                <form class="form-horizontal style-form">
                        <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">拒绝理由</label>
                              <div class="col-sm-10">
                                  <input type="text"  name="reason" id="reason" class="form-control round-form">
                              </div>
                        </div>
                        </br>
                        <div class="form-actions">
                <input type="button"  id="confirm-disagree"
                  class="btn btn-success" value="确认" /> 
            </div>
                </form>
          </div>
      </div>
<div class="centered">
		<if condition="($role eq 3000 )">
        <button class="btn btn-success" id="agree-auth-button" value="{$mer_id}"><i class="fa fa-check"></i>同意并授权</button>
				<button class="btn btn-warning" id="disagree-apply" value="{$applyDetail.id}"><i class="fa fa-times"></i>拒绝</button>
				<button class="btn btn-info" id="retrun-back" value="{$mer_id}"><i class="fa fa-hand-o-right"></i>返回</button>
				<elseif condition="($role eq 2001 )"/>
				<button class="btn btn-info  apply-auth" id="retrun-back" value="{$mer_id}"><i class="fa fa-hand-o-right"></i>返回</button>
		</if>
</div>
<div id="edit-brand">
</div>
<script src="__ASSETS__/js/jquery.fancybox.js"></script>
<script type="text/javascript">

    jQuery(document).ready(function($) {
      $("a.preview").fancybox();
      $('#disagree-apply').click(function(){
        $('.theme-popover-mask').fadeIn(100);
        $('.theme-popover').slideDown(200);
      })
      $('.theme-poptit .close').click(function(){
        $('.theme-popover-mask').fadeOut(100);
        $('.theme-popover').slideUp(200);
      })
    })

     var apply_id={$applyDetail.id};
     var mer_id={$mer_id};
     console.log("apply_id="+apply_id+"mer_id="+mer_id);


     $("#retrun-back").click(function() { 
           $("#brand-list").load("__MODULE__/BrandAuth/brandApplyList",{merchant_id: $(this).val()});
     });

     $("#agree-auth-button").click(function() { 
          $("#edit-brand").load("__MODULE__/BrandAuth/showBrand",{apply_id: apply_id, mer_id: mer_id});
     }); 

     $("#confirm-disagree").click(function(){
          var reason=$("#reason").val();
            $.post(
              '__MODULE__/BrandAuth/disagree',
              {
                "apply_id":apply_id,
                "reason": reason
              },
              function(data){
                alert(data['message']);
                $("#brand-list").load("__MODULE__/BrandAuth/brandApplyDetail",{apply_id: apply_id, mer_id: mer_id});
              });
      });

</script>