<link rel="stylesheet" href="__ASSETS__/css/ezmark.css" media="all" />
<div class="row-fluid">
	<div class="page-header-detail">
		<h2>配置授权品牌 </h2>
	</div>
	</br>
	<div class="content-panel pn">
		<div class="goleft ml">
			<h3>已授权品牌</h3>
			<p id="my-list">
			<volist name='achieveList' id='achieve' key='al' >
				<div class="achieve-list">
						<input name="chkItem" class="list-child" checked="checked" type="checkbox" value="{$achieve.brand_id}" />
						<span  class="label label-success">{$achieve.brand_name}</span>
				</div>
			</volist>
			</p>
			<br/>
			<div class="form-group">
				<label class="col-sm-2 col-sm-2 control-label"><strong>意见</strong></label>
				<div class="col-sm-10">
                 	<input type="text" AUTOCOMPLETE="off" name="reason" id="reason" class="form-control round-form reason-form">
            	</div>
            </div>
			<button class="btn btn-warning " id="save-brand" ><i class="fa fa-eye"></i>保存品牌</button>
		</div>
		<hr/>
		<div class="goleft ml">
			<h3>选择品牌添加</h3>
			<volist name='brandList' id='brand' key='al' >
				<div class="all-brand-list">
						<a class="chose-brand" href="javascript:;"  id="{$brand.brand_id}" value="{$brand.brand_name}" >
						{$brand.brand_name}
						</a>
				</div>
			</volist>
		</div>
	</div>
</div>
<script type="text/javascript" src="__ASSETS__/js/jquery.ezmark.min.js"></script>
<script type="text/javascript">
	var apply_id={$apply_id};

	$(function() {
		$('input[type="checkbox"]').ezMark();
	});

	$(".chose-brand").click(function(){
		var brandId=$(this).attr('id');
		var brandName=$(this).attr('value');
		$("#my-list").after("<div class='achieve-list'><input name='chkItem' class='list-child' checked='checked' type='checkbox' value='"+brandId+"'/><span  class='label label-success'>"+brandName+"</span></div>");
		$('input[type="checkbox"]').ezMark();
	});

	$("#save-brand").click(function(){
		var $check_boxes = $("input[name='chkItem']:checked"); 
	    var agreeList = new Array();  
        $check_boxes.each(function(){  
                  agreeList.push($(this).val());  
         });  
		var reason=$("#reason").val();
		console.log(agreeList);
		$.post(
            '__MODULE__/BrandAuth/agree',
          		{
            		"agree-list":agreeList,
            		"apply_id":apply_id,
            		"reason":reason,
          		},
          		function(data){
            		alert(data['message']);
             		$("#wrapper").load("__MODULE__/BrandAuth/lists");
          		});
	});

	var apply_id={$apply_id};
     $(".view-apply-detail").click(function() { 
           	$("#brand-list").load("__MODULE__/BrandAuth/brandApplyDetail",{apply_id: $(this).val(), mer_id: mer_id});
       });
</script>