<link href="__ASSETS__/js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href="__ASSETS__/css/fileinput.css" rel="stylesheet">
<script src="__ASSETS__/js/admin/fileinput.js"></script>
<script src="__ASSETS__/js/jquery.form.min.js"></script>
<script type="text/javascript" src="__JS__/jquery.tips.js"></script>
	<h3><i class="fa fa-angle-right"></i> 添加订单</h3>
          	<div class="row mt">
          		<div class="col-lg-12">
          		   <div class="form-panel">
					         <form class="form-horizontal style-form" id="myForm"  method="post">


                      <div class="form-group ui-widget">
                          <label class="col-sm-2 control-label">业务类型 <span class="text-red">*</span></label>
                          <div class="col-sm-2">
                            <select class="form-control" name="order-type" id="order-type">
                              <option  value=2 class="display-none">保内维修</option>
                              <option  value=4 class="display-none">安装</option>
                            </select>
                          </div>
                          <div class="col-sm-2 ui-widget"></div>
                          <label class="col-sm-2 control-label">电器品类 <span class="text-red">*</span></label>
                          <div class="col-sm-2">
                            <select class="form-control appliance-father" name="appliance-father" >
                            <volist name='applianceFather'  id='father' key='kc' >
                                <option value='{$father.appliance_id}'>{$father.name}</option>
                            </volist>
                            </select>
                          </div>
                          <div class="col-sm-2">
                            <select class="form-control appliance-child" name="appliance" id="appliance-child">
                            </select>
                          </div>
                      </div>


                      <div class="form-group ui-widget">
                        <label class="col-sm-2 control-label" for="brandName">电器品牌 <span class="text-red">*</span></label>
                        <div class="col-sm-3">
                            <input type="text" AUTOCOMPLETE="off" name="brandName" id="brandName" class="form-control">
                            <div class="col-sm-3" id="brandName-text"></div>
                        </div>
                        <div class="col-sm-1"></div>
                        <label class="col-sm-2  control-label" for="salesName">销售商名称 </label>
                        <div class="col-sm-3">
                            <input type="text" AUTOCOMPLETE="off" name="salesName" id="salesName" class="form-control">
                            <div class="col-sm-3" id="salesName-text"></div>
                        </div>
                      </div>


                      <div class="form-group ui-widget">
                        <label class="col-sm-2 control-label">用户电话 <span class="text-red">*</span></label>
                        <div class="col-sm-3">
                            <input type="text" AUTOCOMPLETE="off" name="customerPhone" id="customerPhone" class="form-control">
                        </div>
                        <div class="col-sm-1"></div>
                        <label class="col-sm-2  control-label" for="servicetime">预约时间 <span class="text-red">*</span></label>
                        <div class="col-sm-3">
                            <input type="text" AUTOCOMPLETE="off" name="servicetime" id="servicetime" class="form-control">
                        </div>
                      </div>


                      <div class="form-group ui-widget">
                        <label class="col-sm-2  control-label">用户地址 <span class="text-red">*</span></label>
                        <div id="city">
                          <div class="col-sm-2" >
                              <select class="form-control prov" name="prov" ></select>  
                          </div>
                          <div class="col-sm-2" >
                             <select class="form-control city" name="city" disabled="disabled"></select>   
                          </div>
                          <div class="col-sm-2" >
                             <select class="form-control dist" name="dist" disabled="disabled"></select>   
                          </div>
                        </div>
                      </div>


                      <div class="form-group ui-widget">
                          <label class="col-sm-2  control-label">详细地址 <span class="text-red">*</span></label>
                          <div class="col-sm-3">
                              <input type="text" AUTOCOMPLETE="off" name="address" id="address"  placeholder="朝晖路88号颐高创业大厦" class="form-control">
                          </div>
                          <div class="col-sm-1"></div>
                          <label class="col-sm-2  control-label" for="doorNumber">门牌号 </label>
                          <div class="col-sm-3">
                            <input type="text" AUTOCOMPLETE="off" name="doorNumber" id="doorNumber"  placeholder="11楼1105" class="form-control">
                          </div>
                      </div>

                      <div class="form-group ui-widget">
                        <label class="col-sm-2 control-label">发票号 </label>
                        <div class="col-sm-3">
                            <input type="text" AUTOCOMPLETE="off" name="billNumber" id="billNumber" class="form-control">
                        </div>
                        <div class="col-sm-1"></div>
                        <label class="col-sm-2  control-label" for="buytime">购买时间 </label>
                        <div class="col-sm-3">
                            <input type="text" AUTOCOMPLETE="off" name="buytime" id="buytime" class="form-control">
                        </div>
                      </div>

                      <div class="form-group ui-widget">
                         <label class="col-sm-2  control-label" for="billphoto">发票照片 </label>
                         <div class="col-sm-6">
                             <input  name="billphoto" id="billphoto" class="form-control file file-0" type="file">
                         </div>
                      </div>

						          <div class="form-actions centered">
								          <input type="button"  id="next-step"
									       class="btn btn-success btn-large" value="下一步" /> <a class="btn"
									       href="#" onclick="cancel()">取消</a>
						          </div>
					         </form>
				        </div>
				      </div>
			     </div>
<script type="text/javascript" src="__ASSETS__/js/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="__ASSETS__/js/cityselect/jquery.cityselect.js"></script>
<script type="text/javascript" src="__ASSETS__/js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" language="javascript">
  var childMap={$applianceChildMap};
  var brandNameList ={$brandNameList};
  var salesNameList ={$salesNameList}; 	

  function cancel(){
			$("#wrapper").load("__MODULE__/Order/index");
	 }

	$(document).ready(function(){
      $('#button-submit').click(function(){
            $('#myForm').ajaxSubmit(options);
              return false;
		    });
    });

    //品牌名称自动补全
    $( "#brandName" ).autocomplete({
          appendTo: "#brandName-text",
          autoFocus: true,
          delay: 50,
          minLength: 0,
          position: {
            my : "left top", 
            at: "left bottom",
            collision: "none"
          },
         source: brandNameList
      }).focus(function() {
            $(this).autocomplete("search", $(this).val());
      });

      //销售商名称自动补全
      $( "#salesName" ).autocomplete({
          appendTo: "#salesName-text",
          autoFocus: true,
          delay: 50,
          minLength: 0,
          position: {
            my : "left top", 
            at: "left bottom",
            collision: "none"
          },
         source: salesNameList
      }).focus(function() {
            $(this).autocomplete("search", $(this).val());
      });

  // 电器品类二级联动
  $(".appliance-father").change(function(){

     // 先清空第二个
      var checkValue=$(".appliance-father").val();
      var childList= childMap[checkValue];
      console.log("childList="+childMap[checkValue][0]['name']);
      $(".appliance-child").empty();

     // 实际的应用中，这里的option一般都是用循环生成多个了
      for(var i=0, l=childList.length; i<l; i++){
        var option = $("<option>").val(childList[i]['appliance_id']).text(childList[i]['name']);
        $(".appliance-child").append(option);
      }
  });

  //设置时间选择器
  $("#servicetime").datetimepicker({
        format: "yyyy-mm-dd hh:ii",
        minuteStep: 30,
        autoclose: true,
        todayBtn: true,
        minView: 'hour'
  });

    //设置时间选择器
  $("#buytime").datetimepicker({
        format: "yyyy-mm-dd",
        autoclose: true,
        todayBtn: true,
        minView: 'month'
  });

  //图片上传控件初始化
  $("#file-0").fileinput({
       language: 'zh',
         allowedFileExtensions : ['jpg', 'png','gif'],
         showUpload: true,
  });
        $("#file-0").on('fileselectnone', function() {
            alert("HUH! No Files");
  });

  //设置城市选择
  $("#city").citySelect({
      nodata:"none",
      required:false
  }); 

    
  function validate() { //
		  var order_type = $("#order_type").val();
     	var appliance_name = $("#appliance-child").val();
     	var brand_name = $("#brandName").val();
     	var sales_name = $("#salesName").val();
     	if(order_type == ""){
     			$("#order_type").tips({
					side : 2,
					msg : '请选择业务类型',
					bg : '#AE81FF',
					time : 3
				});
				return false;
     	}else if(appliance_name == ""){
     			$("#appliance-child").tips({
					side : 2,
					msg : '请选择电器品类',
					bg : '#AE81FF',
					time : 3
				});
				return false;
     	}
     	else if(brand_name == ""){
     			$("#brandName").tips({
					side : 2,
					msg : '请选择电器品牌',
					bg : '#AE81FF',
					time : 3
				});
				return false;
     	}
      return true;
    }     

    
</script>