<link href="__ASSETS__/css/fileinput.css" rel="stylesheet">
<script src="__ASSETS__/js/admin/fileinput.js"></script>
	<h3><i class="fa fa-angle-right"></i> 添加订单</h3>
          	<div class="row mt">
          		<div class="col-lg-12">
          		   <div class="form-panel">
					         <form class="form-horizontal style-form" id="myForm"  method="post">


                      <div class="form-group ui-widget">
                          <label class="col-sm-2 control-label">业务类型 <span class="text-red">*</span></label>
                          <div class="col-sm-2">
                            <select class="form-control" name="order_type" id="order_type">
                              <option selected="selected" value="" class="display-none"></option>
                              <option  value=2 class="display-none">保内维修</option>
                              <option  value=4 class="display-none">安装</option>
                            </select>
                          </div>
                          <div class="col-sm-2 ui-widget"></div>
                          <label class="col-sm-2 control-label">电器品类 <span class="text-red">*</span></label>
                          <div class="col-sm-2">
                            <select class="form-control appliance-father" name="appliance-father" >
                            <option selected="selected" value='' class="display-none"></option>
                            <volist name='applianceFather'  id='father' key='kc' >
                                <option value='{$father.appliance_id}'>{$father.name}</option>
                            </volist>
                            </select>
                          </div>
                          <div class="col-sm-2">
                            <select class="form-control appliance-child" name="appliance" id="appliance-child">
                            </select>
                          </div>
                      </div>

                      <div id="trouble-controll" >
                        <div class="form-group ui-widget">
                          <label class="col-sm-2  control-label">故障描述 </label>
                          <div class="col-sm-10">
                              <input type="text" AUTOCOMPLETE="off" name="break_describe" id="break_describe"  placeholder="洗衣机转轮无法工作" class="form-control">
                          </div>
                        </div>
                        <div class="form-group">
                         <label class="col-sm-2  control-label" for="break_pics">故障照片 </label>
                         <div class="col-sm-6">
                             <input  name="break_pics" id="break_pics" class="form-control file file-0" type="file">
                         </div>
                        </div>
                      </div>


                      <div class="form-group ui-widget">
                        <label class="col-sm-2 control-label" for="brandName">电器品牌 <span class="text-red">*</span></label>
                        <div class="col-sm-3">
                            <input type="text" AUTOCOMPLETE="off" name="brandName" id="brandName" class="form-control">
                            <div class="col-sm-3" id="brandName-text"></div>
                        </div>
                        <div class="col-sm-1"></div>
                        <label class="col-sm-2  control-label" for="salesName">销售商名称 </label>
                        <div class="col-sm-3">
                            <input type="text" AUTOCOMPLETE="off" name="salesName" id="salesName" class="form-control">
                            <div class="col-sm-3" id="salesName-text"></div>
                        </div>
                      </div>


                      <div class="form-group ui-widget">
                        <label class="col-sm-2 control-label">用户电话 <span class="text-red">*</span></label>
                        <div class="col-sm-2">
                            <input type="text" AUTOCOMPLETE="off" name="customerPhone" id="customerPhone" class="form-control">
                        </div>
                        <label class="col-sm-1 control-label">用户名称 </label>
                        <div class="col-sm-2">
                            <input type="text" AUTOCOMPLETE="off" name="customerName" id="customerName" class="form-control">
                        </div>
                        <label class="col-sm-1  control-label" for="servicetime">预约时间 <span class="text-red">*</span></label>
                        <div class="col-sm-3">
                            <input type="text" AUTOCOMPLETE="off" name="servicetime" id="servicetime" class="form-control">
                        </div>
                      </div>


                      <div class="form-group ui-widget">
                        <label class="col-sm-2  control-label" id="custom-address">用户地址 <span class="text-red">*</span></label>
                        <div id="cityselect">
                          <div class="col-sm-2" >
                              <select class="form-control prov" name="prov" id="prov"></select>  
                          </div>
                          <div class="col-sm-2" >
                             <select class="form-control city" name="city" id="city" disabled="disabled"></select>   
                          </div>
                          <div class="col-sm-2" >
                             <select class="form-control dist" name="dist"  id="dist" disabled="disabled"></select>   
                          </div>
                        </div>
                      </div>


                      <div class="form-group ui-widget">
                          <label class="col-sm-2  control-label">详细地址 <span class="text-red">*</span></label>
                          <div class="col-sm-3">
                              <input type="text" AUTOCOMPLETE="off" name="address" id="address"  placeholder="朝晖路88号颐高创业大厦" class="form-control">
                          </div>
                          <div class="col-sm-1"></div>
                          <label class="col-sm-2  control-label" for="doorNumber">门牌号 </label>
                          <div class="col-sm-3">
                            <input type="text" AUTOCOMPLETE="off" name="doorNumber" id="doorNumber"  placeholder="11楼1105" class="form-control">
                          </div>
                      </div>

                      <div class="form-group ui-widget">
                        <label class="col-sm-2 control-label">发票号 </label>
                        <div class="col-sm-3">
                            <input type="text" AUTOCOMPLETE="off" name="billNumber" id="billNumber" class="form-control">
                        </div>
                        <div class="col-sm-1"></div>
                        <label class="col-sm-2  control-label" for="buytime">购买时间 </label>
                        <div class="col-sm-3">
                            <input type="text" AUTOCOMPLETE="off" name="buytime" id="buytime" class="form-control">
                        </div>
                      </div>

                      <div class="form-group ">
                         <label class="col-sm-2  control-label" for="billphoto">发票照片 </label>
                         <div class="col-sm-6">
                             <input  name="billphoto" id="billphoto" class="form-control file file-0" type="file">
                         </div>
                      </div>

                      <div class="form-group ui-widget">
                         <label class="col-sm-2  control-label" id="choice-mer">是否指定网点 <span class="text-red">*</span></label>
                          <div class="radio col-sm-6">
                            <label class="col-sm-3">
                              <input type="radio" name="pushMethod" id="pushMethod" value=1 checked='checked'> 自动推送
                            </label>
                            <label class="col-sm-3">
                              <input type="radio" name="pushMethod" id="pushMethod2"  value=0 > 手动指定网点
                            </label>
                        </div>
                      </div>

                      <div id="merchant-controll" >
                        <div class="form-group ui-widget">
                          <label class="col-sm-2  control-label">网点代码 <span class="text-red">*</span></label>
                          <div class="col-sm-10">
                              <input type="text" AUTOCOMPLETE="off" name="merchant_code" id="merchant_code"  placeholder="100051" class="form-control">
                          </div>
                        </div>
                        <div class="centered" id="merchant-list">
                        </div>

                      </div>


						          <div class="form-actions centered">
								          <input type="button"  id="button-submit"
									       class="btn btn-success btn-large" value="提交" /> <a class="btn"
									       href="#" onclick="cancel()">取消</a>
						          </div>
					         </form>
				        </div>
				      </div>
			     </div>
<script src="__ASSETS__/js/sweetalert/js/sweet-alert.min.js"></script>
<script type="text/javascript" language="javascript">
  var childMap={$applianceChildMap};
  var brandNameList ={$brandNameList};
  var salesNameList ={$salesNameList};
  var lock = false; 	

  function cancel(){
			$("#wrapper").load("__MODULE__/Order/lists");
	 }

	$(document).ready(function(){
      $("#trouble-controll").hide();
      $("#merchant-controll").hide();
      $('#button-submit').click(function(){
            $('#myForm').ajaxSubmit(options);
              return false;
		    });
    });

    //品牌名称自动补全
    $( "#brandName" ).autocomplete({
          appendTo: "#brandName-text",
          autoFocus: true,
          delay: 50,
          minLength: 0,
          position: {
            my : "left top", 
            at: "left bottom",
            collision: "none"
          },
         source: brandNameList
      }).focus(function() {
            $(this).autocomplete("search", $(this).val());
      });

      //销售商名称自动补全
      $( "#salesName" ).autocomplete({
          appendTo: "#salesName-text",
          autoFocus: true,
          delay: 50,
          minLength: 0,
          position: {
            my : "left top", 
            at: "left bottom",
            collision: "none"
          },
         source: salesNameList
      }).focus(function() {
            $(this).autocomplete("search", $(this).val());
      });

  // 电器品类二级联动
  $(".appliance-father").change(function(){

     // 先清空第二个
      var checkValue=$(".appliance-father").val();
      var childList= childMap[checkValue];
      //console.log("childList="+childMap[checkValue][0]['name']);
      $(".appliance-child").empty();

      $(".appliance-child").append("<option selected='selected' value='' class='display-none'></option>");
     // 实际的应用中，这里的option一般都是用循环生成多个了
      for(var i=0, l=childList.length; i<l; i++){
        var option = $("<option>").val(childList[i]['appliance_id']).text(childList[i]['name']);
        $(".appliance-child").append(option);
      }
  });

  //订单类型为保内维修时，显示故障描述输入
  $("#order_type").change(function(){
     if($("#order_type").val()==2){
        $("#trouble-controll").show();
     }else{
        $("#trouble-controll").hide();
     }
  });

  //选择是否自动推送，若手动推送提示输入品牌授权商家id
  $(".radio").change(function(){
      if($('input:radio[name="pushMethod"]:checked').val()==0){
          $("#merchant-controll").show();
          if($( "#brandName" ).val()!=''){
            var brand_name= $( "#brandName" ).val();
            $("#merchant-list").load("__MODULE__/Brand/listBrandMerchant",{brand_name:brand_name});
          }
      }
      if($('input:radio[name="pushMethod"]:checked').val()==1){
          $("#merchant-controll").hide();
      }
  });
  

  //设置时间选择器
  $("#servicetime").datetimepicker({
        format: "yyyy-mm-dd hh:ii",
        minuteStep: 30,
        autoclose: true,
        todayBtn: true,
        minView: 'hour'
  });

    //设置时间选择器
  $("#buytime").datetimepicker({
        format: "yyyy-mm-dd",
        autoclose: true,
        todayBtn: true,
        minView: 'month'
  });

  //图片上传控件初始化
  $("#file-0").fileinput({
       language: 'zh',
         allowedFileExtensions : ['jpg', 'png','gif'],
         showUpload: true,
  });
        $("#file-0").on('fileselectnone', function() {
            alert("HUH! No Files");
  });

  //设置城市选择
  $("#cityselect").citySelect({
      nodata:"none",
      required:false
  }); 

  var options = {  
      //target: 'data',          //把服务器返回的内容放入id为output的元素中      
      beforeSubmit: validate,  //提交前的回调函数
      //success: showResponse,
      /*************/  
      success: function(data){
        console.log(data['message']);
        if(data['status'] != 200){
          sweetAlert("添加失败", data['message'], "error");
          lock =false;
          $("#button-submit").attr("disabled",false); 
        }else if(data['status'] == 200){
          sweetAlert("Good job!", data['message'], "success");
          //alert(data['message']);
          lock =false;
          $("#button-submit").attr("disabled",false);  
          $("#wrapper").load("__MODULE__/Order/lists");
        }
      },      //提交后的回调函数  
    /*****************/
      url: '__MODULE__/Order/add',                 //默认是form的action， 如果申明，则会覆盖  
      type: 'post',               //默认是form的method（get or post），如果申明，则会覆盖  
      dataType: 'json',           //html(默认), xml, script, json...接受服务端返回的类型  
      //clearForm: true,          //成功提交后，清除所有表单元素的值  
      //resetForm: true,          //成功提交后，重置所有表单元素的值  
      timeout: 3000               //限制请求的时间，当请求大于3秒后，跳出请求  
  }
    
  function validate() { //
		  var order_type = $("#order_type").val()
     	var appliance_name = $("#appliance-child").val();
     	var brand_name = $("#brandName").val();
     	var sales_name = $("#salesName").val();
      var customerPhone =$("#customerPhone").val();
      var servicetime = $("#servicetime").val();
      var prov = $("#prov").val();
      var city = $("#city").val();
      var dist = $("#dist").val();
      var address =$("#address").val();
      var pushMethod =$('input:radio[name="pushMethod"]:checked').val();
      var merchant_code = $("#merchant_code").val();
     	if(order_type == ""){
     			$("#order_type").tips({
					side : 2,
					msg : '请选择业务类型',
					bg : '#AE81FF',
					time : 3
				});
				return false;
     	}else if(appliance_name == ""){
     			$("#appliance-child").tips({
					side : 2,
					msg : '请选择电器品类',
					bg : '#AE81FF',
					time : 3
				});
				return false;
     	}
     	else if(brand_name == ""){
     			$("#brandName").tips({
					side : 2,
					msg : '请选择电器品牌',
					bg : '#AE81FF',
					time : 3
				});
				return false;
     	}else if(customerPhone == ""){
          $("#customerPhone").tips({
          side : 2,
          msg : '请填写用户电话',
          bg : '#AE81FF',
          time : 3
        });
        return false;
      }
      else if(servicetime == ""){
          $("#servicetime").tips({
          side : 2,
          msg : '请选择服务时间',
          bg : '#AE81FF',
          time : 3
        });
        return false;
      }
      else if(prov == "" || city=="" || dist=="" || address==""){
          $("#custom-address").tips({
          side : 2,
          msg : '请完整填写用户地址',
          bg : '#AE81FF',
          time : 3
        });
        return false;
      }else if( pushMethod==0 && merchant_code== ""){
          console.log(pushMethod);
          $("#merchant_code").tips({
          side : 2,
          msg : '请输入需要推送的网点代码',
          bg : '#AE81FF',
          time : 3
        });
        return false;
      }
      lock = true;
      $("#button-submit").attr("disabled",true); 
    }     

    
</script>